<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentic App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <h1><a href ="{{url_for('home')}}">Authentic App</a></h1>
    <h3>Hey there stranger I would need you to complete the tasks below 👇:</h3>
        <p>➡ Create an account by clicking <a href="{{url_for('signup')}}">Create account📝</a><p>
        <p>➡ Sign in to the account you just created or have created before by clicking <a href="{{url_for('login')}}">Login🔐</a></p>

</body>
</html>