<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <h1><a href ="{{url_for('home')}}">Login page</a></h1>    
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}
        {{form.submit}}

    </form>
    <p>If you haven't completed the creating account task and don't have an account? <a href="{{url_for('signup')}}"><i>Create an account here</i>📝</a></p>

</body>
</html>